<div class="container">
  <h1>Your Profile</h1>
  <p><%= @user.first_name %></p>
  <p><%= @user.last_name %> </p>
  <p><%= @user.email %></p>
  <p><%= @user.username %></p>
  <p><%= @user.address %></p> 
  <%= cl_image_tag(@user.photo.key,
        width: 150, height: 150, crop: :thumb, gravity: :face) %>

  <%= link_to "Edit Password", edit_user_registration_path(@user)  %>
</div>

<%#%=  <%= simple_form_for(user) do |f| %>
  <%#= f.input :first_name %>
  <%#= f.input :last_name %>
  <%#= f.input :username %>
  <%#= f.input :email %>
  <%#= f.input :address %>
  <%#= f.submit %>
<%# end %>
