<div class="container" data-controller="toggle">

  <div class="card-profile">
    <div class="cards">
      <div class="img-profile">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-profil", alt: "dropdown menu" %>
          <% else %>
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="avatar-profil" alt="dropdown menu" >
          <% end %>
           <% if current_user == @user %>
            <div data-toggle-target="form">
              <p class="old-value">Modifier photo <i class="fa-regular fa-pen-to-square edit-icon" data-action="click->toggle#display"></i></p>
              <div class="d-none new-value"> </p>
                <%= simple_form_for(@user, url: :profile, method: :patch) do |f| %>
                  <%= f.input :photo, label: false %>
                  <%= f.submit %>
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
      <div class="card-info">
      <h1> <%=  @user.username %> </h1>
      <p><i class="fa-solid fa-star">5</i></p>
        <% if current_user == @user %>
          <div data-toggle-target="form">
            <p class="old-value"><%= @user.first_name %> <i class="fa-regular fa-pen-to-square edit-icon" data-action="click->toggle#display"></i></p>
            <div class="d-none new-value"> </p>
              <%= simple_form_for(@user, url: :profile, method: :patch) do |f| %>
                <%= f.input :first_name, label: false %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>

          <div data-toggle-target="form">
            <p class="old-value"><%= @user.last_name %> <i class="fa-regular fa-pen-to-square edit-icon" data-action="click->toggle#display"></i></p>
            <div class="d-none new-value">
              <%= simple_form_for(@user, url: :profile, method: :patch) do |f| %>
                <%= f.input :last_name, label: false %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
          <p><%= @user.email %></p>
          <div data-toggle-target="form">
            <p class="old-value"><%= @user.address %> <i class="fa-regular fa-pen-to-square edit-icon" data-action="click->toggle#display"></i></p>
            <div class="d-none new-value">
              <%= simple_form_for(@user, url: :profile, method: :patch) do |f| %>
                <%= f.input :address, label: false %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
          <%= link_to "Modifier mon mots de passe", edit_user_registration_path(@user), class: "btn btn-light" %>
        <% end %>
      </div>
      <div class="description">
          <p>Description :</p>
          <% if current_user == @user %>
            <div data-toggle-target="form">
              <p class="old-value"><%= @user.description %><i class="fa-regular fa-pen-to-square edit-icon" data-action="click->toggle#display"></i></p>
              <div class="d-none new-value"> </p>
                <%= simple_form_for(@user, url: :profile, method: :patch) do |f| %>
                  <%= f.input :description, label: false %>
                  <%= f.submit %>
                <% end %>
              </div>
            </div>
          <% else %>
            <%= @user.description %>
          <% end %>
      </div>
    </div>
  </div>

  <hr>
 <h3> <%= "Mes Objets à louer" %> </h3>
  <div class="card-product">
    <% if @user.products %>
      <%= render 'shared/grid_offers', { products: @user.products }%>
    <% else %>
      <p> Aucun produits proposé par cet utilisateur</p>
    <% end %>
  </div>
</div>
