<div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Locataire</th>
        <th>Produit</th>
        <th>Départ</th>
        <th>Retour</th>
        <th>Montant</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% bookings.each do |item| %>
        <tr>
          <td>
            <%= link_to booking_path(item) do %>
              <div class="d-flex align-items-center">
              <% if item.user.photo.present? %>
                  <%= cl_image_tag item.user.photo.key, class: "avatar",  style: "max-width: 50px;" %>
                <% else %>
                  <%= image_tag 'no_profile.png', class: "avatar", alt: "No picture available", height: 50, width: 50 %>
                <% end %>
                <span class="mx-3"><%= item.user.username %></span>

              </div>
            <% end %>
          </td>
          <% if item.product.photos.present? %>
            <td><%= cl_image_tag item.product.photos[0].key , class: "rounded", height: 50, width: 50 %></td>
          <% else %>
            <td><%= image_tag 'no_picture.jpg', class: "rounded", alt: "No picture available", height: 50, width: 50 %></td>
          <% end %>
          <td><%= link_to item.start_date, booking_path(item) %></td>
          <td><%= link_to item.end_date, booking_path(item) %></td>
          <td><%= link_to "#{item.amount} €", booking_path(item) %></td>
          <td class="text-end">
            <select class="form-select form-select-sm custom-select"
                    data-controller="status"
                    data-action="change->status#updateStatus"
                    data-booking-id="<%= item.id %>">
              <option value="Pending" <%= "selected" if item.status == "Pending" %>>En attente</option>
              <option value="Accepted" <%= "selected" if item.status == "Accepted" %>>Acceptée</option>
              <option value="Refused" <%= "selected" if item.status == "Refused" %>>Annulée</option>
            </select>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
