<div class="product-cards">
  <% products.each do |product| %>
    <%= link_to product_path(product) do %>
    <div class="product-card">
      <div class="card-header">
        <div class="availability">
          <span class="status-circle"></span>
          <span>Disponibilité confirmée</span>
        </div>
        <div class="product-card-image">
          <%= render 'shared/products_carroussel', product: product %>
        </div>
        <p class="price"><%= product.price %>€/jour</p>
        <% if product.owner.photo.present? %>
          <%= image_tag product.owner.photo, class: "profile-img", alt: "#{product.owner.username}", onerror: "this.onerror=null;this.src='#{asset_path('no_profile.png')}';" %>
        <% else %>
          <%= image_tag 'no_profile.png', class: "profile-img", alt: "No picture available" %>
        <% end %>
      </div>

      <div class="card-body">
         <p class="location">
          <span>📍</span> <%= product.owner.address %>
        </p>
        <h3><%= product.name %></h3>
        <p class="description">
          <%= product.description %>
        </p>

      </div>

      <div class="card-footer">
        <div class="tags">
          <span class="tag"><%= product.category.name %></span>
        </div>
        <div class="rating">
          ⭐⭐⭐⭐⭐ <span>(2)</span>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>

</div>
