<div class="product-search-form"
    data-controller='mapbox-autocomplete'
    data-mapbox-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
  <%= simple_form_for :search, url: search_products_path, method: :get, html: { class: 'row align-items-end' } do |f| %>
    <div class="col-lg-5 col-md-6 col-12 px-1">
      <%= f.input :name,
                  label: "Nom du produit",
                  placeholder: "Exemple : Perceuse",
                  wrapper_html: {class: 'mb-lg-0' },
                  input_html: { class: 'form-control'},
                  required: false %>
    </div>
    <div class="col-lg-5 col-md-6 col-12 px-1">
      <%= f.input :address,
                  label: "Ville",
                  placeholder: "Exemple : Lille",
                  wrapper_html: {class: 'mb-lg-0' },
                  input_html: {
                    class: 'form-control',
                    autocomplete: 'off',
                    data: {
                      action: 'input->mapbox-autocomplete#search',
                      'mapbox-autocomplete-target': "input"
                    }
                  },
                  required: false %>
      <div id='mapbox-autocomplete' data-mapbox-autocomplete-target="results" ></div>
    </div>

    <div class="col-lg-2 col-12 d-block px-1">
      <%= f.button :submit, "Rechercher", class: "btn w-100 rounded-3" %>
    </div>
  <% end %>
</div>
