<!-- Affectation du chemin de retour en fonction de l'origine  -->
<% back_path = if controller_name == "products" && action_name == "new" %>
  <% title_page = "Création de votre produit" %>
  <% label_submit = "Créer le produit" %>
  <% back_path = products_path %>
<% elsif controller_name == "products" && action_name == "edit" %>
  <% title_page = "Modification de votre produit" %>
  <% label_submit = "Enregistrer les modifications" %>
  <% back_path = product_path(@product) %>
<% else %>
  <% title_page = "Gestion de votre produit" %>
  <% label_submit = "Enregistrer" %> <!-- Valeur par défaut -->
  <% back_path = root_path %> <!-- Valeur par défaut -->
<% end %>

<!-- Formulaire du produit utilisé pour new et edit -->
<div class="pdt-main-container">
  <h1><%= title_page %></h1>
  <div class="pdt-container">
  <div class="pdt-container-left">
    <%= simple_form_for @product do |f| %>
      <div class="">
        <%= f.input :name, label: "Nom du produit" %>
        <%= f.association :category, label: "Catégorie" %>
        <%= f.association :brand, label: "Marque" %>
        <%= f.input :model, label: "Modèle" %>
        <%= f.input :description, label: "Description du produit" %>
        <%= f.input :state, as: :select, label: "Etat", collection: Product::STATES, include_blank: "Sélectionner un état" %>
        <%= f.input :price, label: "Prix de location à la journée" %>
        <!-- <%= f.input :photos, as: :file, label: "Sélectionner vos photos", input_html: { multiple: true } %> -->
      </div>

      <div class="btn-line">
        <%= link_to "Annuler", back_path, class: "btn btn-secondary" %>
        <%= f.button :submit, label_submit, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="pdt-container-right">

    <!-- Zone de gestion des photos du produits -->
    <% if @product.persisted? %>
    <h1 class="product-title">Photos du produit</h1>
    <p class="fs-6">Ajouter des photos pour mettre en valeur votre produit</p>
    <%= link_to "Ajouter des photos", "#addPhotosModal", class: "btn btn-primary my-3", data: { bs_toggle: "modal" } %>
    <div class="ph-container">
      <% @product.photos.each_with_index do |photo, index| %>
        <div class="thumb">
          <!-- Afficher l'image depuis Cloudinary -->
          <%= cl_image_tag photo.key, class: "ph-card", alt: "Photo #{index + 1}" %>

          <!-- Icône poubelle pour suppression -->
          <div class="ph-trash">
            <%= link_to destroy_photo_product_path(photo_id: photo), data: {turbo_method: "delete", turbo_confirm: "are you sure ?"}, class: "btn btn-danger btn-sm position-absolute bottom-0 end-0 m-2" do %>
              <i class="bi bi-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- Modale Bootstrap pour l'ajout des images -->
    <div class="modal fade" id="addPhotosModal" tabindex="-1" aria-labelledby="addPhotosModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPhotosModalLabel">Ajouter des photos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @product, url: add_photos_product_path(@product), method: :patch, html: { multipart: true } do |f| %>
              <%= f.input :photos, as: :file, label: "Sélectionnez vos photos", input_html: { multiple: true } %>
              <%= f.submit "Ajouter", class: "btn btn-primary mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% else %>
      <div class="">
        <p class="color-danger">Enregistrez le produit avant d'ajouter des photos.</p>
      </div>
    <% end %>

  </div>
  </div>
</div>
