<div class="search-container" data-controller="toggle-form">
  <div class="search-summary" data-toggle-form-target="summary" data-action="click->toggle-form#expand">
    <div class="search-details">
      <p>
        <span><strong>Produit</strong></span>
        <span data-toggle-form-target = "product">
          <%= params.dig(:search, :name).blank? ? "Tous" : params.dig(:search, :name) %>
        </span>
      </p>

      <p>
        <span><strong>Ville</strong></span>
        <span data-toggle-form-target = "city">
          <%= params.dig(:search, :address).blank? ? "Partout" : params.dig(:search, :address) %>
        </span>
      </p>

      <p>
        <span><strong>Dates</strong></span>
        <span data-toggle-form-target = "startDate">
          <%= params.dig(:search, :start_date).blank? ? "" : params.dig(:search, :start_date) %>
        </span>
        -
        <span data-toggle-form-target = "endDate">
          <%= params.dig(:search, :end_date).blank? ? "" : params.dig(:search, :end_date) %>
        </span>
      </p>
    </div>

    <div class="floating-btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

  <div class="search-form d-none" data-toggle-form-target="form" data-controller="datepicker">
    <%= simple_form_for :search, url: search_products_path, method: :get, html: { class: 'row align-items-end justify-content-end' } do |f| %>
      <div class="col-md-6 col-12 px-1">
        <%= f.input :name,
                    label: false,
                    placeholder: "Perceuse, Visseuse, Scie...",
                    input_html: {
                      class: 'form-control',
                      value: params.dig(:search, :name),
                      data: { toggle_form_target: 'productInput' }
                    },
                    required: false %>
      </div>

      <div class="col-md-6 col-12 px-1" data-controller='mapbox-autocomplete'
    data-mapbox-autocomplete-api-key-value=<%= ENV["MAPBOX_API_KEY"] %>>
        <%= f.input :address,
                    label: false,
                    placeholder: "Lille, Paris, Tourcoing...",
                    input_html: {
                      class: 'form-control mb-0',
                      value: params.dig(:search, :address),
                      autocomplete: 'off',
                      data: {
                        action: 'input->mapbox-autocomplete#search',
                        mapbox_autocomplete_target: 'input',
                        toggle_form_target: 'cityInput'
                      }
                    },
                    required: false %>
        <div id='mapbox-autocomplete' data-mapbox-autocomplete-target="results" ></div>
      </div>

      <%= f.hidden_field :bookings_dates, value: [], data: { datepicker_target: "bookingsDates" } %>

      <div class="col-md-6 col-12 px-1 mb-3">
        <%= f.text_field :start_date,
                          class: "form-control",
                          label: false,
                          placeholder: "Choisissez une date",
                          value: params.dig(:search, :start_date)&.to_date&.strftime("%Y-%m-%d"),
                          data: {
                            datepicker_target: "startDate",
                            toggle_form_target: "startDateInput"
                          } %>
      </div>

      <div class="col-md-6 col-12 px-1 mb-3">
        <%= f.text_field :end_date,
                          class: "form-control",
                          label: false,
                          placeholder: "Choisissez une date",
                          value: params.dig(:search, :end_date)&.to_date&.strftime("%Y-%m-%d"),
                          data: {
                            datepicker_target: "endDate",
                            toggle_form_target: "endDateInput"
                          } %>
      </div>
      <%= button_tag type: "submit", class: "floating-btn" do %>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
